* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, #app {
    height: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
}